@model List<ResultProductDto>
@{
    ViewData["Title"] = "OrderDetailCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int orderNumber = ViewBag.orderId;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürünler İstatistik Sayfası</h4>
        <div class="row">
            @foreach (var item in Model)
            {
                
                    <div class="col-md-3 p-2">
                        <div class="card-deck">
                            <div class="card">
                                <form method="post" asp-action="OrderDetailCreate" asp-controller="OrderDetail">
                                <input type="hidden" name="ProductId" value="@item.ProductId" />
                                <input type="hidden" name="OrderId" value="@orderNumber" />
                                <input type="hidden" name="UnitPrice" value="@item.Price" />
                                <img src="~/feane-1.0.0/images/@item.ImageUrl" class="card-img-top" alt="..." style="width:381px;height:363px;">
                                <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <p class="card-text">@item.Price</p>
                                    <button type="submit" class="btn btn-outline-primary">Sipariş Oluştur</button>

                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
               
            }
        </div>
    </div>
</div>

